.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      .menu__link {
        background-color: #282828;
        color: #fff;
      }
    }
  }

  &__link {
    background-color: #f9f9f9;
    border-radius: 30px;
    padding: 13px 17px;
    letter-spacing: 0.015em;
    font-size: 16px;
    font-weight: 700;
    color: #2c2c2c;
    transition: 0.4s;

    &:hover {
      background-color: #282828;
      color: #fff;
    }
  }
}
