.busket {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  background: #fe5f1e;
  border-radius: 30px;
  padding: 10px 23px;

  color: #fff;

  &__price {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: inline-block;
      height: 30px;
      width: 1px;
      background: rgba(255, 255, 255, 0.25);
      margin-left: 10px;
    }
  }

  &__counter {
    margin-left: 10px;
    &::before {
      content: "";
      display: inline-block;
      height: 16px;
      width: 16px;
      background: url(../../assets/icon/busket.svg) center no-repeat;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}
